@*@model IEnumerable<IdentitySample.Models.ApplicationUser>*@
@model PagedList.IPagedList<IdentitySample.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
    ViewBag.Title = "Home Page";
    var user = User.Identity.GetUserName();
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<tr>
    <th>
        @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
    </th>
    <th></th>
</tr>
<!DOCTYPE html>
<html>
<head>
    <style>
        a {
            color: #079449;
        }

        p {
            padding-top: 5px;
            color: #079449;
        }

        #mydiv .entry-content {
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            float: left;
            padding: 3px;
            padding-left: 15px;
            padding-right: 15px;
        }

        b {
            display: inline-block;
            text-align: left;
            margin: 0 auto;
            width: 100%;
        }

        abc {
        }
    </style>

</head>
@if (Model != null)
{
    foreach (var experts in Model)
    {
        <body>
            <div id="mydiv">
                <div class="entry-content" style="width:550px;">
                    <div class="row" style="width:550px;">
                        <div class="small-12 large-10 columns border-r" role="main" style="width:550px;">
                            <article class="post-/ page type-page status-publish hentry" style="width:550px;">
                                <div class="entry-content" style="width:550px;">
                                    <div style="position: absolute; top:0; right:0;"></div>
                                    <div class="cn-list" data-connections-version="8.5.26-0.1.9" style="width:550px;">
                                        <div class="cn-template cn-card" data-template-version="3.0" style="width:550px;">

                                            <div class="connections-list cn-list-body cn-clear">
                                                <div class="cn-list-secion-head"></div>
                                                <div class="cn-list-row-alternate vcard individual"
                                                     data-entry-type="Individual"
                                                     data-entry-slug="name" style="width:550px;">
                                                    <div class="cn-entry" id="div11" style="background-color: #FFF; width: 550px; height: 100px; border: 1px solid #E3E3E3; border-radius: 4px; color: #000; margin: 8px 0; padding: 10px; position: relative">
                                                        <div class="cn-left" style="width:45%; float:left">
                                                            <div style="clear:both;"></div>
                                                            <div style="margin-bottom: 10px;">
                                                                <div style="font-size:larger;font-variant: small-caps">
                                                                    <strong>
                                                                        <a style="color:#079449" title="@experts.prefix + @experts.firstName + @experts.lastName">
                                                                            <span class="fn n notranslate">
                                                                                <span class="given-name">@experts.prefix  @experts.firstName</span>
                                                                                <span class="family-name">@experts.lastName</span>
                                                                            </span>
                                                                        </a>
                                                                    </strong>
                                                                </div>
                                                                <span class="org">
                                                                    <span class="organization-name notranslate">Marshall University</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="cn-right" style="text-align: left;">
                                                            <div class="phone-number-block">
                                                                <span class="tel cn-phone-number">
                                                                    <span class="phone-name">Work Phone</span>
                                                                    <span class="cn-separator">:</span>
                                                                    <span class="value">@experts.number</span>
                                                                    <span class="type" style="display: none;"> work</span>
                                                                </span>
                                                            </div>
                                                            <div class="email-address-block">
                                                                <div class="email cn-email-address">
                                                                    <span class="email-name">Work Email</span>
                                                                    <span class="cn-separator">:</span>
                                                                    <span class="email-address">
                                                                        <a class="value" title="@experts.prefix @experts.firstName @experts.lastName work email." style="color:#079449" href="mailto: @experts.Email ">@experts.Email</a>
                                                                    </span>
                                                                    <span class="type" style="display: none;">INTERNET</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                        <div class="cn-meta" style="margin-top: 4px"></div>
                                                        <div class="cn-clear" style="display:table; width:100%;">
                                                            <div style="display:table-cell; vertical-align:middle;">
                                                                <div class="cn-categories">
                                                                    <span class="cn_category_label">Expert In:</span>
                                                                    <span class="cn-category-name cn_category cn-category-12">Mathematics</span>
                                                                </div>
                                                            </div>

                                                            <div style="display:table-cell; text-align:right;vertical-align:middle;">
                                                                <span class="cn-last-updated" style="font-size: 10px; font-variant: small-caps; margin-right: 10px; display:none">Updated 5 years ago.</span>
                                                                <span class="cn-return-to-top">
                                                                    @if (user != null && currentUser.Email == experts.Email)
                                                                    {
                                                                        @Html.ActionLink("Remove", "Edit", "UsersAdmin", new { id = User.Identity.GetUserId(), @class = "abc" }, null)
                                                                    }
                                                                    <a href="#" title="Return to top.">
                                                                        <img src="http://www.marshall.edu/experts/wp-content/plugins/connections/assets/images/uparrow.gif" alt="Return to top.">
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    }
}
</html>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
