@model IdentitySample.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
    @{
        //IdentitySample.Controllers.ManageController p = new IdentitySample.Controllers.ManageController();
        var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());

        ViewBag.Title = "Manage your account";
    }

    <h2>@ViewBag.Title.</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-8">
            <p>
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Pick a password", "SetPassword")
                }
            </p>
            <p>
                    @Html.ActionLink("Edit","Edit", "UsersAdmin", new { id = User.Identity.GetUserId() }, null) 
            </p>
            <p>
                First Name: @Html.Raw(currentUser.firstName)
            </p>
            <p>
                Last Name: @Html.Raw(currentUser.lastName)
            </p>
            <p>
                Address: @Html.Raw(currentUser.Address)
            </p>
            <p>
                City: @Html.Raw(currentUser.City)
            </p>
            <p>
                State: @Html.Raw(currentUser.State)
            </p>
            <p>
                Postal Code: @Html.Raw(currentUser.PostalCode)
            </p>

            <p>
                Phone Number: @Html.Raw(currentUser.number)
            </p>
        </div>
    </div>
